*.pyc
.pytest_cache
*.out
.vscode
__pycache__
zmi/config.yml
zmi/doc/zmizad.pdf
zmi/in/zmi0a.in
zmi/in/zmi0b.in
zmi/in/zmi0c.in
zmi/in/zmi0d.in
zmi/in/zmi0e.in
zmi/in/zmi0f.in
zmi/in/zmi1a.in
zmi/in/zmi1b.in
zmi/in/zmi1c.in
zmi/in/zmi1d.in
zmi/in/zmi2a.in
zmi/in/zmi2b.in
zmi/in/zmi2c.in
zmi/in/zmi2d.in
zmi/in/zmi2e.in
zmi/in/zmi3a.in
zmi/in/zmi3b.in
zmi/in/zmi3c.in
zmi/in/zmi3d.in
zmi/in/zmi3e.in
zmi/in/zmi3f.in
zmi/in/zmi3g.in
zmi/in/zmi4a.in
zmi/in/zmi4b.in
zmi/in/zmi4c.in
zmi/in/zmi4d.in
zmi/in/zmi5a.in
zmi/in/zmi5b.in
zmi/in/zmi5c.in
zmi/in/zmi5d.in
zmi/in/zmi5e.in
zmi/in/zmi6a.in
zmi/in/zmi6b.in
zmi/in/zmi6c.in
zmi/in/zmi6d.in
zmi/in/zmi6e.in
zmi/in/zmi7a.in
zmi/in/zmi7b.in
zmi/in/zmi7c.in
zmi/in/zmi7d.in
zmi/in/zmi7e.in
zmi/in/zmi7f.in
zmi/in/zmi8a.in
zmi/in/zmi8b.in
zmi/in/zmi8c.in
zmi/in/zmi8d.in
zmi/in/zmi8e.in
zmi/in/zmi9a.in
zmi/in/zmi9b.in
zmi/in/zmi9c.in
zmi/in/zmi9d.in
zmi/in/zmi10a.in
zmi/in/zmi10b.in
zmi/in/zmi10c.in
zmi/in/zmi10d.in
zmi/in/zmi10e.in
zmi/in/zmi11a.in
zmi/in/zmi11b.in
zmi/in/zmi11c.in
zmi/in/zmi11d.in
zmi/in/zmi11e.in
zmi/in/zmi11f.in
zmi/prog/zmi100.cpp
zmi/prog/zmi101.py
